<div class="container-fluid">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/my-tasks']">
            My Tasks <span *ngIf="totalTasks" class="badge badge-pill badge-primary">{{totalTasks}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/unassigned-tasks']">Unassigned</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/all-tasks']">All Tasks</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<p>
  task works!
</p>
<router-outlet></router-outlet>