<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/programs']" (click)="openSubmenu()">Program</a>
          <ul id="submenu" class="nav flex-column pl-2" [ngClass]="{'collapse': !isOpenSubmenu}">
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/programs/inspections']">Inspections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/programs/safety']">Safety</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/endpoints']">Sources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/my-tasks']">Tasks</a>
        </li>
      </ul>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>